.flex {
    display: flex;
}

.email-wrapper {
    max-width: 100%;
    padding: 0 0px;
    margin: 0 auto;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.email-list {
    flex-direction: column;
}

.email-compose {
    flex-direction: column;
    font-size: 0.9rem;
}

.email-compose-label {
    width: 80px;
    margin: 2px;
}

.email-compose-text {
    width: 100%;
    margin: 2px;
}

.email-compose-textarea {
    margin: 2px;
}

.email-compose-btn-container {
    justify-content: flex-end;
}

.email-compose-btn {
    margin: 2px;
}

.email-details {
    flex-direction: column;
    font-size: 0.9rem;
}

.email-details-textarea {
    /* border: none */
    margin: 2px;
}

.email-details-btn-container {
    justify-content: flex-end;
}

.email-details-btn {
    margin: 2px;
}

.email-details-link {
    align-self: stretch;
    background-color: red;
}

/* .checkboxes {
    text-align: center;
}

.checkboxes input {
    margin: 0px 0px 0px 0px;
} */

.email-app-container {
    font-size: 0.9rem;
    flex-direction: column;
    height: 100vh;
    /* background-color: yellow; */
}

.email-app-header {
    height: 3em;
    background-color: #0079D4;
    align-items: center;
    justify-content: flex-start;
}

.email-app-content-container {
    /* flex-direction: row-reverse; */
    flex: 1;
    /* width: 100%; */
    /* background-color: blue; */
}

.email-app-nav {
    position: absolute;
    flex-direction: column;
    flex: 1;
    background-color: #F5F5F5;
}

.email-app-nav-right {
    flex-direction: column;
    flex: 1;
    background-color: #F5F5F5;
    display: none;
}

.email-app-main {
    flex-basis: 100%;
    background-color: #FFFFFF;
}

.email-app-nav-status {
    /* margin: 10px 20px 10px 20px   */
    background-color: #F5F5F5;
    height: 40px;
    outline: none;
    border: none;
}

.email-app-nav-item {
    background-color: #F5F5F5;
    height: 40px;
    /* border-style: outset; */
    outline: none;
    border: none;
}

.email-app-nav-item:hover {
    background-color: #B3D7F2;
    color: black;
}

email-app-header-item {
    margin: 50px;
}

.email-list {
    font-size: 0.9rem;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* .email-list table, th, td {
    border-collapse: collapse;
    border-right-style: none;
    border-left-style: none;
    width: 280px;
    border: 1px;
    border: 1px solid black;
} */

/* .email-list-td {
    margin-bottom: 20px;
    padding: 14px 16px;
    vertical-align: middle;
    width: 280px;
} */

.email-list-row {
    justify-content: space-between;
    border: 1px solid black;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
}

.email-list-preview {
    margin: 8px;
}

.email-list-row:hover {
    background-color: #ddd;
    color: black;
}

.email-list-td:hover {
    background-color: #ddd;
    color: black;
}

.email-list-btn-unread {
    background: url('../icons/Mail-05.png') no-repeat left center;
    width: 25px;
    height: 25px;
    background-size: 100%;
    outline: none;
    border: none;
}

.email-list-btn-read {
    background: url('../icons/Mail-read-01.png') no-repeat left center;
    width: 25px;
    height: 25px;
    background-size: 100%;
    outline: none;
    border: none;
}

.email-list-btn-delete {
    background: url('../icons/Delete-01.png') no-repeat left center;
    width: 25px;
    height: 25px;
    background-size: 100%;
     outline: none;
    border: none;
}

.red-bg {
    /* color: red; */
    background-color: orangered;
}

.green-bg {
    /* color: green; */
    background-color: lightgreen;
}

.user-msg {
    position: absolute;
    top: 16px;
    right: 16px;
    /* background-color: lightgreen; */
    padding: 20px;
    border-radius: 25px;
}

/* .bg-color-hotmail {
    background-color: #B3D7F2;
} */

/* .color-hotmail {
    color:#218ADA
} */

.email-app-icon {
    display: inline-block;
    background-color: #0079D4;
    outline: none;
    border: none;
}

/* .email-app-icon:hover {
    background-color: #B3D7F2;
    background-color:#ddd;
    color: black;
} */

@media (min-width: 750px) {
    .email-wrapper {
        max-width: 100%;
        padding: 0 0px;
        margin: 0 auto;
    }
    .email-app-container {
        font-size: 1.1rem;
    }
    .email-list {
        font-size: 1.1rem;
    }
    .email-compose {
        font-size: 1.1rem;
    }
    .email-details {
        font-size: 1.1rem;
    }
    /* .email-list table, th, td { */
    /* border-collapse: collapse; */
    /* width: 500px; */
    /* width: 600px; */
    /* border:1px; */
    /* border: 1px solid black; */
    /* } */
    /* .email-list-td { */
    /* width: 500px; */
    /* width: 600px; */
    /* } */
    .email-app-nav-right {
        display: inline-block;
    }
    .email-app-icon {
        display: none;
    }
    .email-list-btn-unread {
        width: 35px;
        height: 35px;
    }
    .email-list-btn-read {
        width: 35px;
        height: 35px;
    }
    .email-list-btn-delete {
        width: 35px;
        height: 35px;
    }
    .email-app-nav {
        position: static;
    }
    .email-app-header {
        justify-content: center;
    }
    .email-app-main{
        flex-basis: 90%;
    }
}