.flex {
    display: flex;
}

.email-wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.email-list {
    flex-direction: column;
}

.email-compose {
    flex-direction: column;
}

.email-compose-label {
    width: 80px;
    margin: 2px;
}

.email-compose-text {
    width: 100%;
    margin: 2px;
}

.email-compose-textarea {
    margin: 2px;
}

.email-compose-close {
    margin: 2px;
}

.email-compose-send {
    margin: 2px;
}

.email-compose-btn {
    justify-content: flex-end;
}