@import url('https://fonts.googleapis.com/css?family=Roboto');

.keep-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}
.keep-edit-note-container {
    grid-row: span 2;
    /* height: 500px; */
}
.keep-expand-note-container {
    grid-row: span 2;
    /* grid-column: span 2; */
    /* height: 500px; */
}
.keep-preview-container {
    /* display: flex; */
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 10px 10px; */
    padding: 10px;
    border-radius: 7px;
}

.keep-preview-title{
    font-size: 1.5em;
    text-align: center;
}
.keep-preview-txt {
    font-size: 1em;
    text-align: center;
}

.shadow-drop-2-center {
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.35);
    }
  }

.alert {
    background-color:lightcoral;
}
  

.keep-add-note-modal {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: auto;
    left: 200px;
    position: absolute;
    top: 50px;
    width: 60%;
    background-color: lightgray;
}

.scale-up-tl {
	animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-tl {
    0% {
      transform: scale(1);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scale(2);
      transform-origin: 0% 0%;
    }
  }
  
.keep-hidden {
    display: none;
}

.keep-new-note-img {
    width: 80%;
    height: auto;
}
.keep-title-input {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* COLOR PICKER */
.color-dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .flip-vertical-fwd {
	animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@keyframes flip-vertical-fwd {
    0% {
      transform: translateZ(0) rotateY(0);
    }
    100% {
      transform: translateZ(160px) rotateY(180deg);
    }
  }
  

  .slide-fwd-center {
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(160px);
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
