@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* width: 100%; */
    /* font-weight: bold; */
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}
li {
    text-decoration-style: none;
}
a {
    all: unset;
}
a {
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}