@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Caveat');
* {
  box-sizing: border-box;
}

.main-app {
  /* display: flex; */
}

nav {
  /* position: fixed; */
  /* top: 0px; */
  /* height: 80px; */
  /* width: 100%;  */
  background-color: #3CBCC3;
}

.main-router-view {
  /* margin-top: 80px; */
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  /* font-weight: bold; */
}

.main-hamburger-menu {
  position: absolute;
  top: 70px;
  left: 0px;
  flex-direction: column;
  background-color: #c5decd;
  opacity: 0.8;
  text-align: center;
  padding: 0px 20px 10px 20px;
  height: 100vh;
  border-radius: 5px;
}

.main-hamburger-menu-ul {
  font-size: 2em;
  display: grid;
  grid-gap: 20px;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /* background-color: #F7F4E9; */
  background-color: #F7F4E9;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  text-decoration-style: none;
}

a {
  all: unset;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-text-box {
  font-family: 'Caveat', cursive;
  margin: 25vh;
  margin-left: 60px;
  margin-right: 60px;
  /* width: 500px; */
  /* height: 200px; */
  padding: 40px;
  border-radius: 5px;
  background-color: rgb(43, 32, 48);
  opacity: 0.9;
  font-size: 2.5em;
  color: aliceblue;
}

.main-home {
  background-image: url(/img/mainbg.jpg);
  background-size: cover;
  /* filter: blur(8px); */
  height: 90vh;
  overflow-y: hidden;
}

.main-nav {
  height: 50px;
  width: 100%;
  background-color: #3cbcc3;
}

.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.about-main {
  justify-content: space-around;
}

.about-main img {
  border-radius: 50%;
}

.home-app-header {
  height: 3em;
  background-color: #3cbcc3;
}

.about-app-header {
  height: 3em;
  background-color: #3cbcc3;
}

.bars {
  font-size: 3em;
  margin: 10px;
}

.menu-content {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.collapsible-menu {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}